* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body { /*default body style (black Verdana)*/
  align-items: center;
  font-family:Verdana;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

li .small {
  font-size: 0.5em;
  padding: 0.5em;
}

li span .small {
  font-size: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.responsive { /* makes elements,resize responsively,*/
  max-width:100%;
  max-height:100%;
}

.hero-container {
  width: 100vw;
  height: 100vh;
}

.card:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 2em;
  background-color: transparent;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}